.form{
    width: 40vw;
    height: 80vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 6px;

    text-align: start;
}

.form div{
    display: flex;
    flex-direction: column;
}

.requests{
    width: 33vw;
    height: 7vh;
    border-radius: 3px;
    border: 1px solid #343434;
    background: #2C2B2B;
}

.requests::placeholder{
    font-size: 1.1vw;
    padding-left: 1vw;
}

.btnChangeUser{
    cursor: pointer;  
    font-size: 1.3vw;
}

.btnChangeUser:hover{
    color: #cdf3eb;
}


.btnsingup{
    background: #71aca1;
    border: none;
    width: 25vw;
    height: 7vh;
    font-size: 1.8vw;
    cursor:pointer;
    border-radius: 3px;
    transition: all 0.5s ease;

}

.errorMessage{
    color: #FF665A;
}

.btnsingup:hover{
    background-color: #579186;
}

.toLabel {
    align-self: flex-start;
    font-size: 1.3vw;
    margin-bottom: 1vh;
}