.loginUserClasses{
    position: absolute;
    height: 90vh;
    right: 10vw;
}

.containerleft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.btnsingup{
    background: #8850BF;
    border: none;
    width: 25vw;
    height: 7vh;
    font-size: 1.8vw;
    cursor:pointer;
    border-radius: 3px;
    transition: all 0.5s ease;

}

.btnsingup:hover{
    background: rgb(124, 77, 172);
}


.btnChangeUser{
    cursor: pointer;
    font-size: 1.3vw;

}

.btnChangeUser:hover{
    color: #ddc3f7;
}
