.subtitle{
    font-size: 1.5em;
}

.toLabel {
    align-self: flex-start;
    padding-left: 5vw;
}

.containerleft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5vh;
}

.form{
    width: 50vw;
    height: 80vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5vw;

    text-align: start;
    box-shadow: 10px 10px 4px #0E0E0E;
}

.titleEvents{
    width: 15vw;
    padding: 2vh 3vw;
    text-align: center;
    font-size: 1.5em;

    border-bottom: 0.5px solid #88BFB5;
}

.list {
    width: 30vw;
    height: 80%;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;
    padding-left: 1vw;

}

.text{
    align-self: center;
}

.requests {
    width: 40vw;
    height: 7vh;
    border-radius: 3px;
    border: 1px solid #343434;
    background: #2C2B2B;
}

.addEvent{
    width: 22vw;
    height: 7.5vh;

    border: none;
    background: #71aca1;
    border-radius: 0.3vw;
    font-size: 1.6vw;
    cursor: pointer;
    transition: all 0.5s ease;

}

.addEvent:hover{
    background-color: #579186;
}

.ErrorMessage{
        color: #FF665A;
}
