.OnlyEventBox{
    width: 50vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: flex-start;

    border-radius: 0.4vw;
    background-color: #202020;
    box-shadow: 10px 10px 4px #0E0E0E;
    margin-top: 9vh;

}

.InfoBox{
    width: 50vw;
    height: 65vh;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

    padding-left: 1vw;
}

.qrcode{
    position: absolute;
    width: 15vw;
    height: 25vh;
    background: white;
    top: 10vh;
    right: 5vw;
}

.qrcodemessage{
    position: absolute;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 18vw;
    height: 30vh;
    top: 10vh;
    right: 23vw;

    background: #7e57c2;
    font-family: 'open sans';
    border-radius: 5px;
    color: #fff;
    padding: 20px;
}

.qrcodemessage:after{ 
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid #7e57c2;
    top: 10px;
    left: 100%;
}
